<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <p class="text-center">
    <a href="/pokemon">Favorites</a>
    <!-- TODO create link to Home page, url "/" -->
  </p>

  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <!-- TODO create link to show page on name h2, url "/pokemon/taco-name" -->
      <h2><%= pokemon.name %></h2>

      <!-- TODO conditional logic that only renders button ifthe page is all pokemon -->
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
      </form>
    </div>
  <% }); %>
</div>
